In [38]:
import pandas as pd
import csv

In [28]:
tmdb_5000_cast = pd.read_csv('../tmdb_5000_cast.csv')
tmdb_5000_cast.head()

,cast_id,cast_name,gender,order0,order1,order2,order3,order4,order_score,movie_count,movie_id
0,380,Robert De Niro,2,30,11,5,6,2,223,57,39451_9992_17711_10555_2270_49021_11371_693_27...
1,62,Bruce Willis,2,30,4,1,4,0,177,51,95_72559_9471_163_1571_76163_18_47964_1572_275...
2,1892,Matt Damon,2,23,10,2,1,0,163,48,157336_65759_2503_324668_68724_163_286217_2297...
3,2963,Nicolas Cage,2,28,3,3,1,0,163,39,27022_19585_1250_49519_12100_9679_2059_754_170...
4,2231,Samuel L. Jackson,2,15,12,8,4,5,160,67,99861_24428_258489_1726_10138_100402_10195_177...

In [29]:
tmdb_top_cast = tmdb_5000_cast.sort_values('order_score', ascending=False)[['cast_id', 'cast_name', 'movie_id']].head(5)
tmdb_top_cast

,cast_id,cast_name,movie_id
0,380,Robert De Niro,39451_9992_17711_10555_2270_49021_11371_693_27...
1,62,Bruce Willis,95_72559_9471_163_1571_76163_18_47964_1572_275...
2,1892,Matt Damon,157336_65759_2503_324668_68724_163_286217_2297...
3,2963,Nicolas Cage,27022_19585_1250_49519_12100_9679_2059_754_170...
4,2231,Samuel L. Jackson,99861_24428_258489_1726_10138_100402_10195_177...

In [44]:
tmdb_5000_movies = pd.read_csv('../tmdb_5000_movies_cleaned.csv')
tmdb_5000_movies = tmdb_5000_movies[[ 'id', 'original_title', 'popularity', 'title', 'vote_average', 'ROI']]
tmdb_5000_movies

,id,original_title,popularity,title,vote_average,ROI
0,19995,Avatar,150.437577,Avatar,7.2,91
1,285,Pirates of the Caribbean: At World's End,139.082615,Pirates of the Caribbean: At World's End,6.9,69
2,206647,Spectre,107.376788,Spectre,6.3,72
3,49026,The Dark Knight Rises,112.312950,The Dark Knight Rises,7.6,77
4,49529,John Carter,43.926995,John Carter,6.1,8
...,...,...,...,...,...,...
2955,33693,Funny Ha Ha,0.362633,Funny Ha Ha,6.3,100
2956,692,Pink Flamingos,4.553644,Pink Flamingos,6.2,100
2957,36095,キュア,0.212443,Cure,7.4,80
2958,14337,Primer,23.307949,Primer,6.9,98
2959,9367,El Mariachi,14.269792,El Mariachi,6.6,89

In [45]:
movie_cast_dict = {}
for i in tmdb_top_cast.index:
    mov_ids = tmdb_top_cast['movie_id'][i].split('_')
    cast_id = str(tmdb_top_cast['cast_name'][i]).replace('.', '')
    for mov_id in mov_ids:
        mov_id = int(mov_id)
        if mov_id in movie_cast_dict:
            movie_cast_dict[mov_id].append(cast_id)
        else:
            movie_cast_dict[mov_id] = [cast_id]
movie_cast_dict

{39451: ['Robert De Niro'],
 9992: ['Robert De Niro'],
 17711: ['Robert De Niro'],
 10555: ['Robert De Niro'],
 2270: ['Robert De Niro'],
 49021: ['Robert De Niro'],
 11371: ['Robert De Niro'],
 693: ['Robert De Niro'],
 274479: ['Robert De Niro'],
 9932: ['Robert De Niro'],
 13389: ['Robert De Niro'],
 1597: ['Robert De Niro'],
 8195: ['Robert De Niro'],
 9566: ['Robert De Niro'],
 524: ['Robert De Niro'],
 819: ['Robert De Niro'],
 2749: ['Robert De Niro'],
 168672: ['Robert De Niro'],
 257211: ['Robert De Niro'],
 203: ['Robert De Niro'],
 13536: ['Robert De Niro'],
 64807: ['Robert De Niro'],
 1598: ['Robert De Niro'],
 336004: ['Robert De Niro'],
 11978: ['Robert De Niro'],
 87567: ['Robert De Niro'],
 9535: ['Robert De Niro'],
 9013: ['Robert De Niro'],
 11058: ['Robert De Niro'],
 311: ['Robert De Niro'],
 137093: ['Robert De Niro'],
 31582: ['Robert De Niro'],
 8944: ['Robert De Niro', 'Bruce Willis'],
 62838: ['Robert De Niro'],
 117: ['Robert De Niro'],
 11096: ['Robert De Niro'],
 769: ['Robert De Niro', 'Samuel L Jackson'],
 45881: ['Robert De Niro'],
 9819: ['Robert De Niro'],
 44113: ['Robert De Niro'],
 82693: ['Robert De Niro'],
 5971: ['Robert De Niro'],
 26171: ['Robert De Niro'],
 184341: ['Robert De Niro'],
 1578: ['Robert De Niro'],
 75638: ['Robert De Niro'],
 11778: ['Robert De Niro'],
 586: ['Robert De Niro'],
 2142: ['Robert De Niro'],
 68: ['Robert De Niro'],
 12637: ['Robert De Niro'],
 240: ['Robert De Niro'],
 23631: ['Robert De Niro'],
 184: ['Robert De Niro', 'Samuel L Jackson'],
 291870: ['Robert De Niro'],
 1777: ['Robert De Niro'],
 103: ['Robert De Niro'],
 95: ['Bruce Willis'],
 72559: ['Bruce Willis'],
 9471: ['Bruce Willis'],
 163: ['Bruce Willis', 'Matt Damon'],
 1571: ['Bruce Willis'],
 76163: ['Bruce Willis'],
 18: ['Bruce Willis'],
 47964: ['Bruce Willis'],
 1572: ['Bruce Willis', 'Samuel L Jackson'],
 27578: ['Bruce Willis'],
 7518: ['Bruce Willis'],
 146216: ['Bruce Willis'],
 19959: ['Bruce Willis'],
 9567: ['Bruce Willis'],
 3172: ['Bruce Willis'],
 2026: ['Bruce Willis'],
 9741: ['Bruce Willis', 'Samuel L Jackson'],
 1573: ['Bruce Willis'],
 9882: ['Bruce Willis'],
 10592: ['Bruce Willis'],
 4244: ['Bruce Willis'],
 9292: ['Bruce Willis'],
 189: ['Bruce Willis'],
 39514: ['Bruce Willis'],
 4824: ['Bruce Willis'],
 8838: ['Bruce Willis'],
 9374: ['Bruce Willis'],
 285923: ['Bruce Willis', 'Nicolas Cage'],
 12220: ['Bruce Willis'],
 2207: ['Bruce Willis'],
 745: ['Bruce Willis'],
 187: ['Bruce Willis'],
 23742: ['Bruce Willis'],
 59967: ['Bruce Willis'],
 2122: ['Bruce Willis'],
 562: ['Bruce Willis'],
 186: ['Bruce Willis'],
 20694: ['Bruce Willis'],
 2069: ['Bruce Willis'],
 14043: ['Bruce Willis'],
 77948: ['Bruce Willis'],
 241254: ['Bruce Willis'],
 24226: ['Bruce Willis'],
 83666: ['Bruce Willis'],
 9644: ['Bruce Willis', 'Samuel L Jackson'],
 5172: ['Bruce Willis'],
 3179: ['Bruce Willis'],
 12479: ['Bruce Willis'],
 680: ['Bruce Willis', 'Samuel L Jackson'],
 5: ['Bruce Willis'],
 157336: ['Matt Damon'],
 65759: ['Matt Damon'],
 2503: ['Matt Damon'],
 324668: ['Matt Damon'],
 68724: ['Matt Damon'],
 286217: ['Matt Damon'],
 22972: ['Matt Damon'],
 1422: ['Matt Damon'],
 2502: ['Matt Damon'],
 161: ['Matt Damon'],
 298: ['Matt Damon'],
 9023: ['Matt Damon'],
 4442: ['Matt Damon'],
 7450: ['Matt Damon'],
 11086: ['Matt Damon'],
 152760: ['Matt Damon'],
 857: ['Matt Damon'],
 2501: ['Matt Damon'],
 39538: ['Matt Damon'],
 22954: ['Matt Damon'],
 4958: ['Matt Damon'],
 1792: ['Matt Damon'],
 38050: ['Matt Damon'],
 74465: ['Matt Damon'],
 231: ['Matt Damon'],
 44603: ['Matt Damon'],
 10684: ['Matt Damon'],
 21355: ['Matt Damon'],
 711: ['Matt Damon'],
 1213: ['Matt Damon'],
 11975: ['Matt Damon'],
 44264: ['Matt Damon'],
 9541: ['Matt Damon'],
 12429: ['Matt Damon'],
 4912: ['Matt Damon'],
 9352: ['Matt Damon'],
 11323: ['Matt Damon'],
 2294: ['Matt Damon'],
 133694: ['Matt Damon'],
 44754: ['Matt Damon'],
 10220: ['Matt Damon'],
 489: ['Matt Damon'],
 1832: ['Matt Damon'],
 1956: ['Matt Damon'],
 11191: ['Matt Damon'],
 44639: ['Matt Damon'],
 2255: ['Matt Damon'],
 27022: ['Nicolas Cage'],
 19585: ['Nicolas Cage'],
 1250: ['Nicolas Cage'],
 49519: ['Nicolas Cage'],
 12100: ['Nicolas Cage'],
 9679: ['Nicolas Cage'],
 2059: ['Nicolas Cage'],
 754: ['Nicolas Cage'],
 1701: ['Nicolas Cage'],
 9802: ['Nicolas Cage'],
 8688: ['Nicolas Cage'],
 1852: ['Nicolas Cage'],
 16577: ['Nicolas Cage', 'Samuel L Jackson'],
 5994: ['Nicolas Cage'],
 71676: ['Nicolas Cage'],
 1722: ['Nicolas Cage'],
 795: ['Nicolas Cage'],
 13811: ['Nicolas Cage'],
 47327: ['Nicolas Cage'],
 2148: ['Nicolas Cage'],
 9906: ['Nicolas Cage'],
 13184: ['Nicolas Cage'],
 1830: ['Nicolas Cage'],
 8224: ['Nicolas Cage'],
 6071: ['Nicolas Cage', 'Samuel L Jackson'],
 127493: ['Nicolas Cage'],
 8649: ['Nicolas Cage'],
 23483: ['Nicolas Cage'],
 11699: ['Nicolas Cage'],
 6963: ['Nicolas Cage'],
 199373: ['Nicolas Cage'],
 2757: ['Nicolas Cage'],
 218043: ['Nicolas Cage'],
 10013: ['Nicolas Cage'],
 297596: ['Nicolas Cage'],
 13342: ['Nicolas Cage'],
 451: ['Nicolas Cage'],
 157847: ['Nicolas Cage'],
 99861: ['Samuel L Jackson'],
 24428: ['Samuel L Jackson'],
 258489: ['Samuel L Jackson'],
 1726: ['Samuel L Jackson'],
 10138: ['Samuel L Jackson'],
 100402: ['Samuel L Jackson'],
 10195: ['Samuel L Jackson'],
 1771: ['Samuel L Jackson'],
 77950: ['Samuel L Jackson'],
 97020: ['Samuel L Jackson'],
 1895: ['Samuel L Jackson'],
 1894: ['Samuel L Jackson'],
 1893: ['Samuel L Jackson'],
 27581: ['Samuel L Jackson'],
 68718: ['Samuel L Jackson'],
 9806: ['Samuel L Jackson'],
 8247: ['Samuel L Jackson'],
 10153: ['Samuel L Jackson'],
 7451: ['Samuel L Jackson'],
 16869: ['Samuel L Jackson'],
 9257: ['Samuel L Jackson'],
 11412: ['Samuel L Jackson'],
 329: ['Samuel L Jackson'],
 273248: ['Samuel L Jackson'],
 8914: ['Samuel L Jackson'],
 11679: ['Samuel L Jackson'],
 8285: ['Samuel L Jackson'],
 393: ['Samuel L Jackson'],
 479: ['Samuel L Jackson'],
 9631: ['Samuel L Jackson'],
 10782: ['Samuel L Jackson'],
 1389: ['Samuel L Jackson'],
 9869: ['Samuel L Jackson'],
 7214: ['Samuel L Jackson'],
 1537: ['Samuel L Jackson'],
 1645: ['Samuel L Jackson'],
 14655: ['Samuel L Jackson'],
 326: ['Samuel L Jackson'],
 1613: ['Samuel L Jackson'],
 3021: ['Samuel L Jackson'],
 13279: ['Samuel L Jackson'],
 9074: ['Samuel L Jackson'],
 133931: ['Samuel L Jackson'],
 12150: ['Samuel L Jackson'],
 7874: ['Samuel L Jackson'],
 25208: ['Samuel L Jackson'],
 13074: ['Samuel L Jackson'],
 319: ['Samuel L Jackson'],
 41823: ['Samuel L Jackson'],
 14283: ['Samuel L Jackson'],
 37080: ['Samuel L Jackson'],
 36739: ['Samuel L Jackson'],
 925: ['Samuel L Jackson'],
 45153: ['Samuel L Jackson'],
 12486: ['Samuel L Jackson'],
 9516: ['Samuel L Jackson'],
 27845: ['Samuel L Jackson'],
 45145: ['Samuel L Jackson'],
 25975: ['Samuel L Jackson']}

In [46]:
tmdb_5000_movies = tmdb_5000_movies.loc[tmdb_5000_movies['id'].isin(movie_cast_dict)]
tmdb_5000_movies['cast_names'] =  ''
for i in tmdb_5000_movies.index:
    mov_id = tmdb_5000_movies['id'][i]
    tmdb_5000_movies['cast_names'][i] = str('\"' + ','.join(movie_cast_dict[mov_id]) + '\"')
tmdb_5000_movies

/var/folders/r2/fjlwzc7x3ks2r1npkhm9jzbh0000gn/T/ipykernel_23215/2630253399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_5000_movies['cast_names'] =  ''
/var/folders/r2/fjlwzc7x3ks2r1npkhm9jzbh0000gn/T/ipykernel_23215/2630253399.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_5000_movies['cast_names'][i] = str('\"' + ','.join(movie_cast_dict[mov_id]) + '\"')

,id,original_title,popularity,title,vote_average,ROI,cast_names
7,99861,Avengers: Age of Ultron,134.279229,Avengers: Age of Ultron,7.3,80,"""Samuel L Jackson"""
15,24428,The Avengers,144.448633,The Avengers,7.4,86,"""Samuel L Jackson"""
61,258489,The Legend of Tarzan,42.741719,The Legend of Tarzan,5.5,50,"""Samuel L Jackson"""
67,1726,Iron Man,120.725053,Iron Man,7.4,76,"""Samuel L Jackson"""
78,10138,Iron Man 2,77.300194,Iron Man 2,6.6,68,"""Samuel L Jackson"""
...,...,...,...,...,...,...,...
2613,157847,Joe,22.987897,Joe,6.5,-69,"""Nicolas Cage"""
2628,9516,Menace II Society,3.418871,Menace II Society,7.2,87,"""Samuel L Jackson"""
2762,44639,Inside Job,16.930914,Inside Job,7.7,75,"""Matt Damon"""
2840,103,Taxi Driver,58.845025,Taxi Driver,8.0,95,"""Robert De Niro"""
2923,2255,Chasing Amy,20.601483,Chasing Amy,6.7,98,"""Matt Damon"""

In [47]:

tmdb_5000_movies.to_csv('../top_cast.csv', quoting=csv.QUOTE_NONE, escapechar='\\' )

In [9]:
names = set()
for name in movie_cast_dict.values():
    names.update(name)
    # print(name)
names

{'Bruce Willis',
 'Matt Damon',
 'Nicolas Cage',
 'Robert De Niro',
 'Samuel L. Jackson'}